/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
#.env.prod
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
vendor/
node_modules/
phpunit.local.xml
# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
sftp-config.json
.htaccess
.idea
.vscode
auth.json
.DS_Store
#.github/
#docker-compose.prod.yml
#Dockerfile.prod
.windsurf/rules/workspacerules.md
